.mainDivUserInfo
{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
	/* background-color:#4d56a3d3; */
	border-radius:0px 0px 5px 5px;
    font-family: 'Work Sans', sans-serif;
    height:20%;
    width: calc(100vw - 240px);
}
p{
    margin:auto;
}
