@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #808ae4;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}
p {
  margin-right: 20px;
  position: relative;
  font-weight: bolder;
  font-family: "Nunito Sans", sans-serif;
}
.menuBtn {
  background-color: transparent;
  border: none;
}
