@import url("https://cdn.syncfusion.com/ej2/material.css");

.workerdataa {
  height: 80vh;
  overflow: auto;
  /* display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center; */
}

.workerdata {
  background-color: #808ae4;
  margin: 0% 2% 0 2%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  flex-direction: column;
  height: calc(50vh - 160px);
}

.WorkerImage {
  width: 50%;
  object-fit: contain;
  align-self: center;
}

.WorkerDecs {
  font-size: small;
  color: black;
  font-size: medium;
 margin:0 !important;
}
.OrderButton {
  /* width: fit-content; */
  align-self: center;
  border-radius: 25px;
  width: 100px;
  border: none;
  /* margin-bottom: 5vh; */
  font-weight:bolder
}

.calender {
  margin: 5% 0;
  display: flex;
  justify-content: center;
}

.infoText{
  justify-self: center;
  margin-top: 4%;
  color: #000;
  
}

.timeOrder {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

h2, h4, Rating {
  margin:0 !important;
}

.timePicker{
  width :20%
}